<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Connexion</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Entrez votre email" formControlName="email" type="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input matInput placeholder="Entrez votre mot de passe" formControlName="password" type="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Se connecter</button>
      </form>
      <p class="register-link">
        Pas encore de compte ? <a routerLink="/register">Créer un compte</a>
      </p> 
       
    </mat-card-content>
  </mat-card>
</div>
